@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
  <p>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</p>
  <p>@Html.DisplayNameFor(model => model.Gender): @Html.DisplayFor(model => model.Gender)</p>
  <p>@Html.DisplayNameFor(model => model.DoA): @Html.DisplayFor(model => model.DoA)</p>
  <p>@Html.DisplayNameFor(model => model.Breed): @Html.DisplayFor(model => model.Breed)</p>
  <p>@Html.DisplayNameFor(model => model.Age): @Html.DisplayFor(model => model.Age)</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
